<header>
    <div class="page-header">
        <div class="page-header-top">
            <div class="container">
                <div class="page-logo">
                    <a th:href="@{/}">
                        <img th:src="@{/images/HotelIcon.png}" alt="logo" style="width:300px;height:70px;"/>
                    </a>
                </div>
                <a href="javascript:;" class="menu-toggler"></a>
            </div>
        </div>            
        <div class="page-header-menu">
            <div class="container">
                <div class="hor-menu  ">
                    <ul class="nav navbar-nav">
                        <li class="menu-dropdown classic-menu-dropdown">
                            <a th:href="@{/}"> <h5 th:text="#{home.page.Home}" style="font-weight: bold"></h5>
                            </a>
                        </li>
                     </ul>
                 </div>
             </div>
         </div>
    </div>
</header>